@font-face {
    font-family: 'Authentic-Sans';
    src: url("/fonts/AUTHENTIC-Sans.otf") format("opentype");
}

@font-face {
    font-family: 'Century';
    src: url("/fonts/century.woff") format("opentype");
}


body{
    font-family: 'Authentic-Sans';
    font-size:15px;
      margin: 2vh 2vw;
      width:96vw;
  padding: 0;
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=10017'), auto;	
}

.space{
	height: 20vh;
}

.flex{
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	height:100%;
}

.flex-row{
	display:flex;
	flex-direction:row;
}

.headerimg{
	width:40vw;
	margin-left:auto;
	margin-right:auto;
	padding-top:10vh;
}

.copy{
	text-align:center;
		padding-bottom:10vh;
}

.title{
	font-size: 1.4em;
}

.desc{

		font-family: 'Century', monospace;
text-transform:uppercase;
font-size: 0.75em;
}

/*marquee*/

.marquee {
 height: 80px;	
 overflow: hidden;
 position: relative;
 font-size:0.75em;
 letter-spacing: 0.1em;
}
.marquee p {
 position: absolute;
 width: 120%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 25s linear infinite;
 -webkit-animation: scroll-left 25s linear infinite;
 animation: scroll-left 25s linear infinite;
}

.marquee p:hover{

    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}


/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}

@media only screen and (max-width: 600px) {
  body {
font-size: 18px;  }

.marquee p {
	 width: 150%;
 /* Apply animation to this element */	
 -moz-animation: scroll-left 15s linear infinite;
 -webkit-animation: scroll-left 15s linear infinite;
 animation: scroll-left 15s linear infinite;
}
}

/*nav styles */


nav{
	position:fixed;
	display: flex;
	margin-bottom: 5vh;
	  z-index:100;
}

nav a, .logo{
	text-decoration:none;
	margin-right: 2vw;

}

.b1{
	margin: 0 1vw;
}

.button-container{
			margin-top:10px;
		}

.button{
	background-color: silver;
border-radius: 20px;
padding: 10px 25px;
  mix-blend-mode: multiply;
  	opacity: 70%;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);

}

nav a{
	color: #000;
}

.button:hover{
	opacity: 90%;
	  	box-shadow: 0px 0px 0px;
}

.logo{
	width:250px;
}

.logo-text, .events-page h1{
	font-weight:normal;
	text-transform: uppercase;
		font-family: 'Century', monospace;
/*	font-family: "Courier New", Courier, monospace;
*/	color: #000;
}

.logo-text{
	margin-top:0.5vh;
}

/*BACKGROUND COLORS */

/* event bg */

.events-page{
    background: linear-gradient(272deg, #c2bedf, #a7f086, #8bacec, #81d026);
    background-size: 800% 800%;

    -webkit-animation: eventbg 17s ease infinite;
    -moz-animation: eventbg 17s ease infinite;
    animation: eventbg 17s ease infinite;
}

@-webkit-keyframes eventbg {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
}
@-moz-keyframes eventbg {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
}
@keyframes eventbg {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
}


/* directory bg */

.directory-page {
    background: linear-gradient(358deg, #9cbcb6, #9d7ad2, #c2dd34, #dade2b, #9d7ad2);
    background-size: 1000% 1000%;

    -webkit-animation: dirbg 35s ease infinite;
    -moz-animation: dirbg 35s ease infinite;
    animation: dirbg 35s ease infinite;
}

@-webkit-keyframes dirbg {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}
@-moz-keyframes dirbg {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}
@keyframes dirbg {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}


/* event page */




.events-page h1{
	font-size: 1.5em;
	margin: 6vh 0 3vh 0;
}

.events{
	width:40vw;
	margin-right:10vw;
	line-height:30px;
	font-size: 1.5em;

}


.day{
	margin:2vh 0;
}

.time{
		font-family: 'Century', monospace;

}

.event-info{
}

/* directory page */

.directory-container{
	background: linear-gradient(0deg, #F3F1FF, #F3F1FF), #ACD1F3;
padding: 1vh 1vw;
transition: box-shadow 0.5s ease;
}

.directory-container:hover{
box-shadow: 10px 10px 50px rgba(164, 27, 133, 0.5);
}


.row{
	display:flex;
	width:100%;
	font-size:1em;
	line-height: 2em;
}

.row a{
	text-decoration:none;
	color:#000;
}

.row1{
		font-family: 'Century', monospace;
			text-transform:uppercase;
			margin-bottom: 1.5vh;
}

.column1, .column2, .column3{
	width:20vw;
	margin-right:4vw;
}

.interview-column1{
	font-size:1.4em;
}

.linksvg{
	width:0.75vw;
}