@font-face {
    font-family: 'Authentic-Sans';
    src: url("/fonts/AUTHENTIC-Sans.otf") format("opentype");
}

@font-face {
    font-family: 'Century';
    src: url("/fonts/century.woff") format("opentype");
}


body{
    font-family: 'Authentic-Sans';
    font-size:15px;
      margin: 2vh 2vw;
      width:96vw;
  padding: 0;
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=10017'), auto;	
}

.silver{
	background-color:silver !important;
	  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.footer{
	position:fixed;
	margin-bottom:0vh ;
		bottom:2.5vh ;
		left:2vw;
}

.space{
	height: 15vh;
}

.flex{
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	height:100%;
}

.flex-row{
	display:flex;
	flex-direction:row;
}

.fair-nav{
	justify-content:space-between;
		width:96vw;
}

.black-stroke{
		  border: 2px solid black;

}


.left-fair-nav{
	display:flex;
	margin-top:15px;
}

a{
		text-decoration:none !important;
}
/*nav styles */


nav{
	position:fixed;
	display: flex;
	margin-bottom: 5vh;
	  z-index:100;
}

nav a, .logo{
	text-decoration:none;
	margin-right: 2vw;

}

.b1{
	margin: 0 1vw;
}

.button-container{
/*			margin-top:10px;
*/		}

.button{
	background-color: transparent;
border-radius: 20px;
padding: 10px 25px;
  	opacity: 90%;
}

nav a{
	color: #000;
}

.button:hover{
	opacity: 90%;
	  	box-shadow: 0px 0px 0px;
	  	background-color:white;
}

.logo{
	width:30vw;
}

.logo-text, .events-page h1{
	font-weight:normal;
	text-transform: uppercase;
	font-family: "Courier New", Courier, monospace;
	color: #000;
}

.logo-text{
	margin-top:0.5vh;
}

/*BACKGROUND COLORS */

/* event bg */

.events-page{
    background: linear-gradient(272deg, #c2bedf, #a7f086, #8bacec, #81d026);
    background-size: 800% 800%;

    -webkit-animation: eventbg 17s ease infinite;
    -moz-animation: eventbg 17s ease infinite;
    animation: eventbg 17s ease infinite;
}

@-webkit-keyframes eventbg {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
}
@-moz-keyframes eventbg {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
}
@keyframes eventbg {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
}


/* directory bg */

.directory-page {
    background: linear-gradient(358deg, #9cbcb6, #9d7ad2, #c2dd34, #dade2b, #9d7ad2);
    background-size: 1000% 1000%;

    -webkit-animation: dirbg 35s ease infinite;
    -moz-animation: dirbg 35s ease infinite;
    animation: dirbg 35s ease infinite;
}

@-webkit-keyframes dirbg {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}
@-moz-keyframes dirbg {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}
@keyframes dirbg {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}

/* product bg */

.product-page{
background-color: #D9CBA7;
}

/* event page */

.schedule-container{
	margin-left: 2vw;
	height: 80vh;
}

.events-page h1{
	font-size: 1.5em;
	margin: 0 0 3vh 0;
}

.events{
	margin-right:10vw;
	line-height:30px;
	font-size: 1.5em;

}


.day{
	margin:2vh 0;
}

.time{
	font-family: "Courier New", Courier, monospace;

}

.event-info{
}

/* directory page */

.directory-container, .schedule-container{
background: linear-gradient(0deg, #F3F1FF, #F3F1FF), #ACD1F3;
padding: 2vh 1vw;
transition: box-shadow 0.5s ease;
height: 73vh;
overflow-y: scroll; 
}

/* directory scrollbar settings */

.schedule-container::-webkit-scrollbar,
.directory-container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.schedule-container::-webkit-scrollbar:vertical,
.directory-container::-webkit-scrollbar:vertical {
    width: 20px;
}

.schedule-container::-webkit-scrollbar:horizontal,
.directory-container::-webkit-scrollbar:horizontal {
    height: 20px;
}

.schedule-container::-webkit-scrollbar-thumb,
.directory-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid #CFE0AC; /* should match background, can't be transparent */
    background-color: black;
}


/*end */

.directory-container:hover{
box-shadow: 10px 10px 50px rgba(164, 27, 133, 0.5);
}

.directory-info{
	padding-top: 6vh;
}


.row{
	display:flex;
	width:100%;
	font-size:1em;
	line-height: 2em;
}

.row a{
	text-decoration:none;
	color:#000;
}

.row1{
	font-family: "Courier New", Courier, monospace;
			text-transform:uppercase;
			margin-bottom: 1.5vh;
			position: fixed;
			background-color:white;
			width:auto;
			padding-right:10px;
}



.column1, .column2, .column3{
	width:20vw;
	margin-right:4vw;
}

.interview-column1{
	font-size:1.5em;
}

.linksvg{
	width:0.75vw;
}

/* product page */

.product-container{
	width:70vw;
	margin: 0 auto;
}

.product-left{
}

.product-right{
	margin-left:5%;
	width:100%;
}

.moreimg{
}

.participant{
	font-size:1.5em;
}

.work-title{
		font-size:2em;
		margin-top:1vh;

}

.work-title{
						margin-top:1vh;
}

.work-desc{
			font-size:1.25em;
					margin-top:5vh;
	font-family: "Courier New", Courier, monospace;
	}


.buy-button{
	margin:5vh 0;
	  border: 2px solid black;
	  padding:10px;
	  font-size: 1.25em;
}

.century-sub{
	font-family: "Courier New", Courier, monospace;
	font-size: 0.75em;
}

/* FAIR PAGES */

/*room 1*/

.prints{
}
.room1 .product{
	width:12vw;
}
