<nav class="fair-nav">
	<div class="logo desktop">
		<a href="{{site.baseurl}}/index-new">
		<img class="" src="{{site.baseurl}}/img/risologo.svg">
		<div class="logo-text">SOUNDS ABOUT RISO .ONLINE</div>
	</a>
	</div>
	<div class="logo mobile">
		<a href="{{site.baseurl}}/index-new">
		<img class="" src="{{site.baseurl}}/img/risologo-mobile.svg">
<!-- 		<div class="logo-text ">SOUNDS ABOUT RISO .ONLINE</div>
 -->	</a>
	</div>

	<div class="left-fair-nav">
<!-- 			<div class="mobile-menu">
 -->
		<div class="courier-main go-to"> Go to: </div>
	<div class="button-container b2 dropdown">
    <button class="dropbtn button dotted"> {{page.title}} <span class="arrow">{% include down-arrow.svg %}</span>  </button>
    <div class="dropdown-content">
    	<a href="{{site.baseurl}}/solarium">Solarium</a>
      <a href="{{site.baseurl}}/moon-room">Moon Room</a>
      <a href="{{site.baseurl}}/angel-wing">Angel Wing</a>
      <a href="{{site.baseurl}}/rumble-room">Rumble Room</a>
      <a href="{{site.baseurl}}/palm-room">Palm Room</a>
            <a href="{{site.baseurl}}/wild-berry-room">Wild Berry Room</a>
      <a href="{{site.baseurl}}/interviews">Interview Palace</a>
    </div>
  </div> 
  <div class="button-container b3 courier">
    <button class="button dotted b3glow courier hvr-grow" style="background-color: {{page.background-color}}">
		<a href="{{site.baseurl}}{{page.next}}" class="flex-row space-around">Next Room {% include door.svg %}</a>
	</button>
	</div>
<!-- 	</div>
 -->
<!-- Trigger/Open The Modal -->
<button id="myBtn" class="button hvr-grow desktop ">Hi From us! </button>
<a class="mobile hi" href="{{site.baseurl}}/hi">Hi from us!</a>
	</div>
</nav>