<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <meta property="og:title" content="Sounds About Riso ; ">
<meta property="og:description" content="Online gallery, market, & event space on 5.23.2020">
<!-- <meta property="og:image" content="thumbnail.jpg">
 --><meta property="og:url" content="https://soundsaboutriso.online/">
<!-- <meta name="twitter:card" content="summary_large_image">
 -->
	<title>Sounds About Riso Online</title>
		<script type="text/javascript">
		message = " Sounds About Riso ; ";
		function step() {
			message = message.substr(1) + message.substr(0,1);
			document.title = message.substr(0,15);
		}


	</script>
	<link href="{{site.baseurl}}/css/normalize.css" rel="stylesheet">
		<link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
		<link rel='shortcut icon' type='image/x-icon' href= '{{site.baseurl}}/img/favicon.ico' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/jquery.marquee@1.5.0/jquery.marquee.min.js" type="text/javascript"></script>
		<script type='text/javascript'
  src="http://leaverou.github.com/prefixfree/prefixfree.js"></script>
<script>
	   $(window).scroll(function() {

    if ($(this).scrollTop()>0)
     {
        $('.logo-text').fadeOut();
     }
    else
     {
      $('.logo-text').fadeIn();
     }
 });

</script>

</head>