<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
<div class="seashell">
      <a href="https://soundsaboutriso.online/solarium/" style="color: #565852; border-bottom:0px solid;"><img class="hvr-hang" src="{{site.baseurl}}/img/flower.png" alt="SAR flower."></a>
</div>
    <div class="modal-header">
      <img src="{{site.baseurl}}/img/2022fair/Banner.jpeg" alt="A blade of grass.">
    </div>
          <div class="modal-inner">

            <div class="bigger left">
              Hello! (´｡• ◡ •｡`) ♡<br>
              We are so excited to announce sounds about riso 4.0 for this fall!<br>
              We will be bringing back our in person showcase for the first time in 3 years but we hope to incorporate our online showcase for those who can’t attend IRL.<br><br>
              Submissions are now open for the first time and we are so excited to be able to showcase and discover more risograph work! <br><br>
             <div class="indent">Location: DUMBO NYC<br>
Event date: 9/22/22 - 10/2/22 (<i>dates subject to adjustment depending on Covid-19 and space availability</i>)</div><br>

<b>✏ APPLY HERE: <a href="https://forms.gle/5cHpbZ7j2eNj77dv9">https://forms.gle/5cHpbZ7j2eNj77dv9</a><br>
  APPLICATIONS CLOSE 07/08 11:59PM EST </b>
</div>
   <div class="bigger left">  
    Open call for risograph works (Posters, prints, zines, books, etc), browse our <a class="lowercase" href="https://soundsaboutriso.online/solarium/">online showcase</a> for examples! If you don’t have any risograph printed work but would like to submit something to be printed, please reach out to us at: info@luckyrisograph.press

</div>
<div class="bigger left">
  ★<br><br> 

In addition to our usual programming, we will be launching a <b>2-month intensive mentorship program</b> geared towards students and recent grads. Each selected individual will be paired up with 1 mentor from the sounds about riso team and work together to create a final risograph project for the showcase in September. For more information,
<a class="lowercase" href="https://docs.google.com/document/d/1P6jT4nN3vE8GALsrsNKCUITL1Stui3ounDM_9mju4-s/edit?usp=sharing">view our mentorship doc here</a>.<br><br>
sounds about riso team:<br>
<a href="https://socialspecies-studio.com/">Social Species</a><br>
<a href="https://luckyrisograph.press/">lucky risograph</a><br>
<a href="https://www.zinehug.com/">zine hug</a><br>
<a href="https://www.instagram.com/hyperlinkpress/?hl=en">Hyperlink Press</a><br>
<br>
<b>✏ MENTORSHIP PROGRAM APPLY HERE:  <a href="https://forms.gle/WQwb78CsZbuh2dM57">https://forms.gle/WQwb78CsZbuh2dM57</a><br>
  MENTORSHIP APPLICATIONS CLOSE 07/11 11:59PM EST</b>
</div>

<div class="bigger left">
  
  —---------
  <br><br>
Follow <a class="lowercase" href="https://www.instagram.com/soundsaboutriso/">@soundsaboutriso</a> on instagram for more information and updates! We will be launching a fundraising campaign soon, if you have any leads for potential sponsors we would love to hear from you! For any inquiries please email: <a class="lowercase" href="mailto:soundsaboutriso@gmail.com">soundsaboutriso@gmail.com </a><br><br>

꒒ ꒩ ꒦ ꒰<br>
sounds about riso team


</div>
</p>
  </div>
</div>
</div>
<style>



  body{
  overflow-y:hidden;
  }

  .seashell{
        position: absolute;
    top: 7vh;
    position: absolute;
    top: 7vh;
    transform: rotate( 15deg );
    left: 78vw;
    width: 8vw;
  }
.abc-room{
      flex-wrap: wrap;
          width: 78%;
    margin: 0 11%;
}

.abc-room img{
      max-width: 32%;
    height: auto;
    margin-bottom: 2%;
    filter: drop-shadow(2px 4px 2px grey);
  }

.abc-room img:hover{
    filter: drop-shadow(2px 4px 2px #565852);}

  #myBtn{
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 10px 10px 50px rgba(164, 27, 133, 1);
  background-color: lavender !important;
    color:#000;
    font-weight:bold;
    border-radius:0px !important;
      border-width:0px;
            height:7vh;
  }

  #myBtn:hover{
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4) !important;
}
/* The Modal (background) */

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  backdrop-filter: blur(15px)brightness(80%);
  }

  .modal a{
        border-bottom: 1px solid;
    color: #47a3ed;
    text-transform:uppercase;
        font-family: "Courier New", Courier, monospace;
        font-size: 1.1em;

  }

  .modal a.lowercase{
    text-transform: lowercase;
  }

  .roomlink{
            border-bottom: 0px solid !important;
margin-bottom:2vh;
  }

  .modal a:hover{
    color:red;
  }

  .authentic{
            font-family: "Authentic Sans", monospace !important;
            text-align:center;
            font-size:14px;
  }

.modal-header{
  font-family: Arial Rounded MT Bold;
  color: #E57901;
  font-size:1.5em;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
/* background-color: #F1EFE2; */
    padding-bottom: 2vh;
    border-bottom: 4px dashed #93C03D; 
    margin: 6vh 3vw 3vh 3vw;
          display:flex;
    align-items: flex-end;


}

.left{
  text-align:left;
}

.right{
  text-align:right;
}

.indent{
  padding: 0 3vw;
}
  .modal-header img{
    height: 10vh;
    margin-right: 2vw;
  }

/* Modal Content/Box */
.modal-content {
padding-bottom:3vh;
      margin: 2vh auto;
background-color: #F5F094; 
max-width: 1100px;/* Could be more or less, depending on screen size */
            font-family: "Authentic Sans", monospace !important;
font-size:14px;    border: 25px solid #93C03D;
    box-shadow: 4px 4px 8px 0px #00000040;
    height:90vh;
        display: flex;
    flex-direction: column;
}

/* directory scrollbar settings */

.modal-inner::-webkit-scrollbar{
    -webkit-appearance: none;
}

.modal-inner::-webkit-scrollbar:vertical{
    width: 15px;
}

.modal-inner::-webkit-scrollbar:horizontal{
    height: 5px;
}

.modal-inner::-webkit-scrollbar-thumb{
    border-radius: 0px;
    border: 1px solid #565852; /* should match background, can't be transparent */
    background-color: #565852;
}

.modal-inner::-webkit-scrollbar-track {
    border: 1px solid #565852; /* should match background, can't be transparent */
}


.modal-inner{
    height: auto;
    overflow-y: scroll;
    overflow-x:hidden;
color: #565852;
    padding: 1vh 1vw 3vh 3vw;
    margin-right:2vw;
  }
.bigger{
    font-family: 'Arial-Rounded';
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.055em;
    margin-bottom: 2.5%;

}

.smaller{
    margin-bottom: 2%;
    font-family: 'Arial-Rounded';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.055em;
    text-align: left;

}

.smallest{
    margin-top: 2%;
    font-family: 'Arial-Rounded';
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.09em;

}

.signature{
  color: #E57901 !important;
}

/* The Close Button */
.close {
  color: #fff;
  background-color:#000;
  width:10vw;
  text-align:center;
  margin-left:auto;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .modal-content{

          border: 15px solid #93C03D;
            height: 100vh;
    margin: 0;
  }

  .modal-header img {
    height: 8vh;
    margin-right: 2vw;
}

.seashell {
    width: 15vw;
    top: 0;
}

  .bigger{
    font-size:15px;
  }

  .modal-header{
    margin: 3vh 3vw 3vh 3vw;
  }

  .modal-inner {
    padding: 1vh 3vw 20vh 3vw;
  }

  .smaller{
    text-align:left;
    line-height: 24px;
  }



  .abc-room {
    display: flex;
    flex-wrap: wrap;
        width: 100%;
        margin:0;
  }

  .abc-room img {
    max-width: 100%;
    margin-bottom:4%;
  }
}
</style>


<!-- 
<div id="myModal" class="modal">

  <div class="modal-content">

    <div class="modal-header">
      <img src="{{site.baseurl}}/img/gif/1.gif">
      <div>SOUNDS</div>
      <img src="{{site.baseurl}}/img/gif/2.gif">
            <div>ABOUT</div>
            <img src="{{site.baseurl}}/img/gif/3.gif">
                  <div>RISO</div>
      <img src="{{site.baseurl}}/img/gif/4.gif">
            <div>.ONLINE</div>
             <img src="{{site.baseurl}}/img/gif/6.gif">
    </div><br><br>
          <div class="modal-inner">
    <span class="courier"> You’ve landed on sounds about riso .online - thank you for joining us  ੈ✩‧₊<br><br></span>

We've curated 6 rooms of risograph works by 50 artists and publishers from North America just for you. For a full list of works and interviews about their process, head over to the <a href="{{site.baseurl}}/directory">directory</a>.<br><br>

*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Each product page links to the artists' and press’ own form of purchase so that they can keep 100% of their proceeds while we all operate this fair at a safe distance.<br><br>

+&nbsp;&nbsp;&nbsp;<a href="{{site.baseurl}}/risoTV">risoTV</a>&nbsp;&nbsp;is a limited-time live stream of events running throughout the launch weekend 5/23-24, be sure to check it out!<br><br>

*&nbsp;&nbsp;&nbsp;Poke around the site and if able, shop the prints, zines, and books to show your support for the individual artists, printmakers, & the risograph community!<br><br>

+ You can find out about how sounds about riso came together or read the credits at the <a href="{{site.baseurl}}/fundraiser">Credits page</a>: ) <br><br>

Please say hi on our <a href="{{site.baseurl}}/guestbook">guestbook</a> ੈ✩‧₊ We hope you enjoy your stay!<br><br>

<span class="courier-main">alex, amanda, chuck, ritu, zack</span>

</p>
 <div class="close button">Enter</div>
  </div>
</div>
</div>
<style>

  #myBtn{
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 10px 10px 50px rgba(164, 27, 133, 1);
  background-color: lavender !important;
    color:#000;
    font-weight:bold;
    border-radius:0px !important;
      border-width:0px;
            height:7vh;
  }

  #myBtn:hover{
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4) !important;
}
/* The Modal (background) */

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  backdrop-filter: blur(15px)brightness(80%);
  }

  .modal a{
    text-decoration: underline;
    color: #FF48B0;
    text-transform:uppercase;
        font-family: "Courier New", Courier, monospace;
        font-size: 1.1em;

  }

  .modal a:hover{
    color:red;
  }

  .authentic{
            font-family: "Authentic Sans", monospace !important;
            text-align:center;
            font-size:14px;
  }

.modal-header{
  font-size:1.5em;
text-align:center;
background-color: #DEE6E4;  
margin-left:auto;
  margin-right:auto;
  padding-top:2.5vh;
          font-family: "Courier New", Courier, monospace;
          display:flex;
         align-items:center;
         justify-content:space-around;
         width:80%;

}
  .modal-header img{
    height:7vh;
  }

/* Modal Content/Box */
.modal-content {
  background-color: #DEE6E4;
      border-radius:50px;
  margin: 3% auto; /* 15% from the top and centered */
  max-width: 760px; /* Could be more or less, depending on screen size */
            font-family: "Authentic Sans", monospace !important;
font-size:14px;
}

.modal-inner{
  background-color: #D3D6BC;
  padding: 5vh 3vw;
}

/* The Close Button */
.close {
  color: #fff;
  background-color:#000;
  width:10vw;
  text-align:center;
  margin-left:auto;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
</style> -->

<script>
  // Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>