

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
                <span class="exit">&times;</span>

    <div class="modal-header">
      <img src="{{site.baseurl}}/img/gif/1.gif">
      <div>SOUNDS</div>
      <img src="{{site.baseurl}}/img/gif/2.gif">
            <div>ABOUT</div>
            <img src="{{site.baseurl}}/img/gif/3.gif">
                  <div>RISO</div>
      <img src="{{site.baseurl}}/img/gif/4.gif">
            <div>ONLINE</div>
             <img src="{{site.baseurl}}/img/gif/6.gif">
    </div><br><br>
          <div class="modal-inner">
    <span class="courier"> You’ve landed on sounds about riso .online - thank you for joining us  ੈ✩‧₊<br><br></span>

We've curated 5 rooms of risograph works by 50 artists and publishers from North America just for you. For a full list of works and interviews about their process, head over to the <a href="{{site.baseurl}}/directory">directory</a>.<br><br>

*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Each product page links to the artists' and press’ own form of purchase so that they can keep 100% of their proceeds while we all operate this fair at a safe distance.<br><br>

+&nbsp;&nbsp;&nbsp;<a href="{{site.baseurl}}/risoTV">risoTV</a>&nbsp;&nbsp;is a limited-time live stream of events running throughout the launch weekend 5/23-24, be sure to check it out!<br><br>

*&nbsp;&nbsp;&nbsp;Poke around the site and if able, shop the prints, zines, and books to show your support for the individual artists, printmakers, & the risograph community!<br><br>

+ You can find out about how sounds about riso came together or read the credits at the <a href="{{site.baseurl}}/fundraiser">Credits page</a>: ) <br><br>

Please say hi on our <a href="{{site.baseurl}}/guestbook">guestbook</a> ੈ✩‧₊ We hope you enjoy your stay!<br><br>

<span class="courier-main">alex, amanda, chuck, ritu, zack</span>

</p>
 <div class="close button">Enter</div>
  </div>
</div>
</div>

<style>

  #myBtn{
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 10px 10px 50px gold;
  background-color: green !important;
    color:white;
    border-radius:0px !important;
      border-width:0px;
      height:10vh;
  }

  #myBtn:hover{
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4) !important;
}
/* The Modal (background) */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  backdrop-filter: blur(15px)brightness(80%);
  }

  .modal a{
    text-decoration: underline;
    color: #FF48B0;
    text-transform:uppercase;
        font-family: "Courier New", Courier, monospace;
        font-size: 1.1em;

  }

  .modal a:hover{
    color:red;
  }

  .authentic{
            font-family: "Authentic Sans", monospace !important;
            text-align:center;
            font-size:14px;
  }

.modal-header{
  font-size:1.5em;
text-align:center;
background-color: #DEE6E4;  
margin-left:auto;
  margin-right:auto;
  padding-top:2.5vh;
          font-family: "Courier New", Courier, monospace;
          display:flex;
         align-items:center;
         justify-content:space-around;
         width:80%;

}
  .modal-header img{
    height:7vh;
  }

/* Modal Content/Box */
.modal-content {
  background-color: #DEE6E4;
      border-radius:50px;
  margin: 3% auto; /* 15% from the top and centered */
  max-width: 760px; /* Could be more or less, depending on screen size */
            font-family: "Authentic Sans", monospace !important;
font-size:1em;
}

.modal-inner{
  background-color: #D3D6BC;
  padding: 3vh 3vw;
}

/* The Close Button */
.close {
  color: #fff;
  background-color:#000;
  width:10vw;
  text-align:center;
  margin-left:auto;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
</style>
<script>
  // Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>