<nav>
	<div class="logo">
		<a href="{{site.baseurl}}/index">
		<img src="{{site.baseurl}}/img/risologo.svg">
		<div class="logo-text">SOUNDS ABOUT RISO .ONLINE</div>
	</a>
	</div>
	<div class="button-container b1">
		<a class="button hvr-grow-rotate" href="{{site.baseurl}}/fair">Fair</a>
	</div>
	<div class="button-container b2">
		<a class="button hvr-grow" href="{{site.baseurl}}/directory">Directory of Works & Artist Interviews</a>
	</div>
	<div class="button-container b3">
		<a class="button hvr-grow" href="{{site.baseurl}}/risotv">risoTV</a>
	</div>
	<div class="button-container b4">
				<a class="button hvr-grow" href="{{site.baseurl}}/fundraiser">Fundraiser</a>
	</div>
		<div class="button-container b5">
				<a class="button hvr-grow" href="{{site.baseurl}}/guestbook">Guestbook</a>
	</div>
</nav>