<!DOCTYPE html>
<html lang="en-ca" id="html">
{% include head.html %}


<body class="product-page">

{% include fair-nav.html %}
        {% include modal.html %}
<div class="space"></div>

	<div class="product-container">
			<div class="back-to">
				<a href="index.html" class="flex-row">{% include door.svg %} Back to Room </a><br>
	</div>
	<div class="flex-row space-between">
		<div class="product-left">
						<img src="{{site.baseurl}}/img/products/{{page.img1}}">

		</div>
		<div class="product-right">
						<div class="participant">
				{{page.participant}}     
				<a href="{{page.artisturl}}" target="_blank" class="century-sub">Website</a>
			</div>
		<div class="work-title">
			{{page.title}}
		</div>
		<div class="work-desc">
			{{page.desc}}<br>
			{{page.specs}}
		</div>

		<div class="buy-button button">
			${{page.price}}
			Buy via <a href="{{page.producturl}}" target="_blank">{{page.howpurchase}}</a>
		</div>
					<div class="details century-sub">
					{{page.size}} /	Riso colors used: {{page.color}} / <a href="{{page.publisherurl}}" target="_blank">{{page.publisher}}</a> / {{page.year}}
			</div>
		</div>
	</div>
		<div class="flex-row space-between">
		<div class="product-left">
			<div class="moreimg">
			{% if page.imgq2 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq2}}">{% endif %}
			{% if page.imgq3 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq3}}">{% endif %}
			{% if page.imgq4 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq4}}">{% endif %}
			{% if page.imgq5 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq5}}">{% endif %}
			{% if page.imgq6 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq6}}">{% endif %}
		</div>
		</div>
		<div class="product-right">

		</div>
	</div>

	</div>
	{% include footer.html %}

  </body>
</html>
