<!DOCTYPE html>
<html lang="en-ca" id="html">
{% include head.html %}


<body class="product-page">

{% include fair-nav.html %}
        {% include modal.html %}
<div class="space"></div>

	<div class="product-container">
			<div class="back-to-top flex-row">
			<div class="link2">
				{% if page.previous.url %}
    			<a class="prev margin-right" href="{{page.previous.url}}">&laquo; {% include linksvg.html %}  Previous Work: {{page.previous.title}} </a>
  				{% endif %}
  				/
  				{% if page.next.url %}
    			<a class="prev margin-left" href="{{page.next.url}}"> Next Work: {{page.next.title}} {% include linksvg.html %}  &raquo; </a>
  				{% endif %}
			</div>
			</div>
	<div class="flex-row space-between">
		<div class="product-left">
						<img src="{{site.baseurl}}/img/products/{{page.img1}}">

		</div>
		<div class="product-right">
						<div class="fs15">
				{{page.participant}}     
				<a href="{{page.artisturl}}" target="_blank" class="century-sub">Website</a>
			</div>
		<div class="work-title fs2">
			{{page.title}}
		</div>
		<div class="work-desc fs125">
			{{page.desc}}<br>
			{{page.specs}}
		</div>

		<div class="buy-button fs125 button">
			${{page.price}}
			Buy via <a href="{{page.producturl}}" target="_blank">{{page.howpurchase}}</a>
		</div>
					<div class="details century-sub">
					{{page.size}} /	Riso colors used: {{page.color}} / <a href="{{page.publisherurl}}" target="_blank">{{page.publisher}}</a> / {{page.year}}
			</div>
		</div>
	</div>
		<div class="flex-row space-between">
		<div class="product-left">
			<div class="moreimg">
			{% if page.img2 %}<img src="{{site.baseurl}}/img/products/{{page.img2}}">{% endif %}
			{% if page.img3 %}<img src="{{site.baseurl}}/img/products/{{page.img3}}">{% endif %}
			{% if page.img4 %}<img src="{{site.baseurl}}/img/products/{{page.img4}}">{% endif %}
			{% if page.img5 %}<img src="{{site.baseurl}}/img/products/{{page.img5}}">{% endif %}
			{% if page.img6 %}<img src="{{site.baseurl}}/img/products/{{page.img6}}">{% endif %}
		</div>
		</div>
		<div class="product-right">

		</div>
	</div>
			<div class="back-to-bottom flex-row">
				<div class="link1">
				<a href="index.html" class="margin-right" >{% include linksvg.html %}  Go back to Room </a> / 
				<a href="index.html" class="margin-left"> {% include linksvg.html %}  Go to Artists' Interview  </a>
				</div>
			</div>
	</div>



	{% include footer.html %}

  </body>
</html>
