<!DOCTYPE html>
<html lang="en-ca" id="html" class="directory-page">

{% include head.html %}

  <body>
{% include fair-nav.html %}
        {% include modal.html %}
<div class="space"></div>

<div class="directory-container">
	<div class="list">
	<div class="row row1">
		<div class="column1">
			Artwork
		</div>
		<div class="column2">
			Participant / Interview
		</div>
		<div class="column3">
			Room
		</div>
	</div>
<div class="directory-info">	
  {% assign works = site.works | sort: 'participant' %}
  {% for book in works %}
  <div class="row">
    <img class="imghover" src="{{site.baseurl}}/img/products/{{book.img1}}">
    <div class="column1">
    	<a href="{{site.baseurl}}{{book.url}}">{{book.title}} {% include linksvg.html %}
    	</a>
    </div>
    <div class="column2"><a href="{{site.baseurl}}/interviews/{{book.code}}">
    	    	{{book.participant}}  {% include linksvg.html %}
      </a>
    </div>
    <div class="column3">
    	       <a href="{{site.baseurl}}/{{book.room}}">{{book.room_name}} {% include linksvg.html %}</a>

    </div>
</div>
  {% endfor %}
</div>
</div>
</div>
{% include footer.html %}
  </body>
</html>
</body>