<!DOCTYPE html>
<html lang="en-ca" id="html" class="events-page">
{% include head.html %}


<body>

    {% include fair-nav.html %}
        {% include modal.html %}
<div class="space"></div>
<div class="event-container flex-row">
  <div class="event-left">
  <div> Our event streams are over, but check back soon for links to our archive !</div>
         <img style="width:95%;" src="{{site.baseurl}}/img/risotv-placeholder.png">
       </div>

<!-- <iframe

    src="https://player.twitch.tv/?channel=luckyrisograph&parent=streamernews.example.com&muted=true"
    height="720"
    width="1280"
    frameborder="0"
    scrolling="no"
    allowfullscreen="true"
    class="twitch-video">
</iframe> -->

    <div class="event-right">

<!--             <div class="chat">
              <iframe frameborder="0"
        scrolling="no"
        id="chat_embed"
        src="https://www.twitch.tv/embed/luckyrisograph/chat?parent=streamernews.example.com"
        height="300"
        width="100%">
</iframe>
            </div> -->
      <div class="schedule-container">
    <h1 class="fs125">Schedule from May 22 + 23, 2020</h1>
    <div class="events fs125">
<div class="day">
  {{page.event1-day}}
</div>
<div class="event-info">
<span class="time">{{page.event1-time}}</span><br>
{{page.event1-name}}<br><br>
<span class="time">{{page.event2-time}}</span><br>
{{page.event2-name}}<br><br>
<span class="time">{{page.event3-time}}</span><br>
{{page.event3-name}}<br><br>
</div>
</div>

<div class="events fs15">
<div class="day">
  {{page.event2-day}}
</div>
<div class="event-info">
<span class="time">{{page.event4-time}}</span><br>
{{page.event4-name}}<br><br>
<span class="time">{{page.event5-time}}</span><br>
{{page.event5-name}}<br><br>
<span class="time">{{page.event6-time}}</span><br>
{{page.event6-name}}<br><br>
</div>
</div>
</div>
</div>
</div>
{% include footer.html %}
  </body>
</html>
