<!DOCTYPE html>
<html lang="en-ca" id="html" class="fundraiser-page">
{% include head.html %}

<body>
    {% include fair-nav.html %}
    {% include modal.html %}
      	<div class="space"></div>
     {% include star.svg %}
    <div class="flex-row">
        <div class="fundraiser-left">
            <div class="fundraiser-container">
                <h1 class="fs15 courier-main">Fundraiser</h1>
                <div class="fundraiser-block">
                    You can also support us by purchasing prints made for and during the launch of sounds about riso .online:
                    <div class="fundraiser-list">
                        -James Bascara’s print in Cornflower/Gold or Federal Blue/Orange.
                    </div>
                    <div class="fundraiser-list">
                        -Natalie Andrewson’s Coast to Coast print made during a live draw & print with Zine Hug on risoTV.
                    </div>
                    <div class="fundraiser-list">
                        -Lucky risograph’s Color Separation Anxiety print made during a live file separation workshop on risoTV.
                    </div>
                    <div>
                        A portion of sales will go to sounds about riso and the other will go directly to the artist.
                    </div>
                </div>
                <div>
                    All funds raised will be used for expenses used to bring the gallery and events online. Any additional money raised will be used to keep soundsaboutriso.online running and to continuously curate more events on risoTV.
                </div>
            </div>
            <!-- 		<img src="">
		<img src=""> -->
        </div>
        <div class="fundraiser-right">
            <div class="raffle-container">
                <div class="star-text">
                	<div class="fs15 courier-main">Raffle</div>
                <div class="fundraiser-block">
Every item purchased from the gallery is one entry into a raffle.  Send a screenshot of your purchase from any participant to soundsaboutriso@gmail.com and you will be entered to win.  Unlimited entries. Honor system!!!!!
<br><br>
<div class="fundraiser-list">
3 entries will be selected and will receive:
</div>
<div class="fundraiser-list long">
20 custom 2-color prints printed by lucky risograph/Zine Hug +
2 sounds about riso .online prints by James Bascara in Cornflower/Gold and Federal Blue/Orange +
1 Coast to Coast live drawing print by Natalie Andrewson +
1 Color Separation Anxiety print by lucky risograph’s chuck kuan and Amada Chu +
1 lucky risograph item +
1 Zine Hug item
</div>
</div>

                </div>
            </div>
            <div class="credits-container">
            	                <h1 class="fs15 courier-main">Credits</h1>

                <div class="fundraiser-block">
+ Presented and curated by <a href="https://luckyrisograph.press/" target="_blank">lucky risograph</a> (Amanda Chung, Chuck Kuan, Chris Lucero) and <a href="https://www.zinehug.com/" target="_blank">Zine Hug </a> (Alex Barsky & Zack Lydon<br><br>

* Website built by <a href="https://www.ritu.online" target="_blank">Ritu Ghiya</a><br><br>
+ Website designed by chuck kuan and Ritu Ghiya<br><br>
* Illustration & Animation by James Bascara<br><br>
+ Animation support & sound by Alex Barsky<br><br>
* Special thanks to Emily Bluedorn, Hana Massalki, and Lydia Sposaro who helped us with all the busy backend stuff! Shout out to all the artists, small press, and publishers, this wouldn’t have happened without you all <3 
</div>
            </div>
        </div>
    </div>
    </div>
    {% include footer.html %}
</body>

</html>