<!DOCTYPE html>
<html lang="en-ca" id="html">

{% include head.html %}


<body onload="setInterval(step,100)">

<html>
  <body>
{% include fair-nav.html %}
    {% include modal.html %}    <div class="space"></div>


		<div >
			Interview
		</div>

	{% assign interviews = site.interviews | sort: 'participant' %}
  {% for book in interviews %}

    	<a href="{{site.baseurl}}{{book.url}}">{{book.participant}} {% include linksvg.html %}
    	</a>

  {% endfor %}

{% include footer.html %}

  </body>
</html>
