<!DOCTYPE html>
<html lang="en-ca" id="html" class="interview-page">
{% include head.html %}


<body>

  	{% include fair-nav.html %}
    {% include modal.html %} 
  	<div class="space"></div>

<div class="interview bottom-margin">
<div class=" fs15">{{page.participant}} Answers...</div>

			<div class="back-to flex-row">
				<div class="link1">
				<a href="{{site.baseurl}}/interviews" class="margin-right" >{% include linksvg.html %}  Back to all interviews </a> / 

				<a href="{{site.baseurl}}/{{page.room}}" class="margin-right" >{% include linksvg.html %}  Go to Room </a> / 
				<a href="{{site.baseurl}}/works/{{page.code}}" class="margin-left"> {% include linksvg.html %}  Go to Artist's Piece  </a>
				</div>
			</div>

<div class="qa">
{% if page.q1 %}<div class="q1 question fs125">What's your favorite riso color or color combo? </div>{% endif %}
<div class="flex-row">
{% if page.q1 %}<div class="a1 answer fs15">{{page.q1}}</div>{% endif %}
<div class="qa-images">
{% if page.imgq1_1 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq1_1}}">{% endif %}
{% if page.imgq1_2 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq1_2}}">{% endif %}
{% if page.imgq1_3 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq1_3}}">{% endif %}
</div>
</div>
</div>

<div class="qa">
{% if page.q2 %}<div class="q2 question fs125">Share 1-3 things about your technical process.  (ie. how do you color separate?, how do you decide which colors, binding method, or paper to use?, is your process traditional, digital, or both?, if it's collaborative what does the back and forth look like?)</div>{% endif %}
<div class="flex-row">
<div class="a2 answer fs15">{{page.q2}}</div>
<div class="qa-images">
{% if page.imgq2_1 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq2_1}}">{% endif %}
{% if page.imgq2_2 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq2_2}}">{% endif %}
{% if page.imgq2_3 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq2_3}}">{% endif %}
{% if page.imgq2_4 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq2_4}}">{% endif %}
{% if page.imgq2_5 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq2_5}}">{% endif %}
</div>
</div>
</div>

<div class="qa">
{% if page.q3 %}<div class="q3 question fs125">Share 1-3 things about your creative/conceptualizing process. </div>{% endif %}
<div class="flex-row">
<div class="a3 answer fs15">{{page.q3}}</div>
<div class="qa-images">
{% if page.imgq3_1 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq3_1}}">{% endif %}
{% if page.imgq3_2 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq3_2}}">{% endif %}
{% if page.imgq3_3 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq3_3}}">{% endif %}
</div>
</div>
</div>

<div class="qa">
{% if page.q4 %}<div class="q4 question fs125">What did you have on your mind when you were working on this project/piece (or in general)?  (ie. Does your work (this or other) relate to a particular current movement or concept?)
</div>{% endif %}
<div class="flex-row">
<div class="a4 answer fs15">{{page.q4}}</div>
<div class="qa-images">
{% if page.imgq4_1 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq4_1}}">{% endif %}
{% if page.imgq4_2 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq4_2}}">{% endif %}
{% if page.imgq4_3 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq4_3}}">{% endif %}
{% if page.imgq4_4 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq4_4}}">{% endif %}
</div>
</div>
</div>

<div class="qa">
{% if page.q5 %}<div class="q5 question fs125">Do you have any risograph-related tips and tricks you'd like to share?
</div>{% endif %}
<div class="flex-row">
<div class="a5 answer fs15">{{page.q5}}</div>
<div class="qa-images">
{% if page.imgq5 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq5}}">{% endif %}
</div>
</div>
</div>

<div class="qa">
{% if page.q6 %} <div class="q6 question fs125">If you would like to include your own Q&A that you would like to share or re-word any of these questions in a different way, add it below -
</div>{% endif %}
<div class="flex-row">
<div class="a6 answer fs15">{{page.q6}}</div>
<div class="qa-images">
{% if page.imgq6 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq6}}">{% endif %}
</div>
</div>
</div>

<div class="qa">
{% if page.q7 %} <div class="q7 question fs125">What is something that you would like to say to anyone reading this right now?
</div>{% endif %}
<div class="flex-row">
<div class="a7 answer fs15">{{page.q7}}</div>
<div class="qa-images">
{% if page.imgq7 %}<img src="{{site.baseurl}}/img/interviews/{{page.imgq7}}">{% endif %}
</div>
</div>
</div>
</div>

{% include footer.html %}
  </body>
</html>
</body>